@import 'reset';
@import 'variable';

.wrap1 {
	width: 70vw;
	margin: 50px, auto;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;

	.left {
		width: 30%;
	}

	.members {
		width: 70%;
		border: 1px solid red;
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;

		.box {
			width: 30%;
			border: 1px solid yellow;

			.pic {
				width: 100%;
				height: 200px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
