@import 'reset';
@import 'variable';

.wrap1 {
	width: 70vw;
	margin: 50px auto;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	.left {
		width: 30%;
		padding-right: 30px;
		font-size: 2.8rem;
		font-family: var(--fontTit1);
		color: var(--colorTit1);
	}

	.members {
		width: 70%;
		padding-left: 30px;
		border-left: 1px solid var(--borderColor);
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;

		.box {
			width: 30%;
			padding-bottom: 20px;
			font-family: var(--fontBody);

			.pic {
				width: 100%;
				height: 300px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					padding-bottom: 20px;
					object-fit: cover;
				}

				h2 {
					color: var(--colorTit1);
					font-size: 1.5rem;
				}

				p {
					font-size: 1rem;
					color: var(--colorBody);
				}
			}
		}
	}
}

@media screen and (max-width: $labtop) {
	.wrap1 {
		.left {
			font-size: 2.5rem;
		}
		.members {
			.box {
				width: 46%;

				.pic {
					height: 300px;

					h2 {
						font-size: 1.3rem;
					}

					p {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.wrap1 {
		.members {
			.box {
				width: 46%;

				.pic {
					height: 250px;

					h2 {
						font-size: 1.3rem;
					}

					p {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.wrap1 {
		.left {
			width: 100%;
			margin-bottom: 20px;
			padding-right: 0px;
			font-size: 2rem;
		}
		.members {
			width: 100%;
			padding-left: 0px;
			border-left: 0px;
			.box {
				width: 100%;

				.pic {
					height: 400px;

					h2 {
						font-size: 1rem;
					}

					p {
						font-size: 0.5rem;
					}
				}
			}
		}
	}
}
